#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 20px;
}
.titPrin{
    padding-left: 30px;
}

.titCentral{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red; /*combinacion de etiquetas para poner en rojo solamente esa frase y no todo lo que este con STRONG, se pone en el orden que se escribieron en el html */
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: white;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagDif{
    width: 40%;

}